<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - NutriNube</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <h1>NutriNube - Login or Register</h1>
    </header>

    <div class="container">
        <section id="login">
            <h2>Log In:</h2>
            <form action="/login" method="post" id="login-form">
                <label for="login-username">Username:</label>
                <input type="text" id="login-username" name="username" placeholder="Enter your username..." required>
                <label for="login-password">Password:</label>
                <input type="password" id="login-password" name="password" placeholder="Enter your password..." required>
                <button type="submit">Log In</button>
            </form>
        </section>

        <section id="register">
            <h2>Registration:</h2>
            <form id="register-form">
                <label for="register-username">Username:</label>
                <input type="text" id="register-username" name="username" placeholder="Choose a username..." required>
                <label for="register-password">Password:</label>
                <input type="password" id="register-password" name="password" placeholder="Choose a password..." required>
                <button type="submit">Register</button>
            </form>
        </section>
    </div>
    <div id="toast-container"></div>

    <script src="/static/app.js"></script>
</body>
</html>